DAY 10

EXERCISE LEVEL 1

Question (1)

In [2]:
#For loop 10 down to 0
for i in range(11):
    print(i)

print('---'*20)

#While loop 10 down to 0
i = 0
while i < 11:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
------------------------------------------------------------
0
1
2
3
4
5
6
7
8
9
10

Question (2)

In [1]:
#for loop 10 down to 0
for i in reversed(range(11)):
	print(i)
	

print('---'*20)

#while loop 10 down to 0
i = 10
while i >= 0:
	print(i)
	i -= 1

10
9
8
7
6
5
4
3
2
1
0
------------------------------------------------------------
10
9
8
7
6
5
4
3
2
1
0

Question (3 - 4)

In [3]:
a = 7
for i in range(0, a):
	for j in range(0, i + 1):
		print('#', end=' ' )
	print('\r')

print('__' * 20, '\n')

for i in range (8):
	print('# ' * i)

print('__' * 20, '\n')

b = '# # # # # # # #', '# # # # # # # #', '# # # # # # # #', '# # # # # # # #', '# # # # # # # #', '# # # # # # # #', '# # # # # # # #','# # # # # # # #'

for i in b:
	print(i)

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
________________________________________


#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
________________________________________

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

Question (5)

In [4]:
for x in range(11):
    print(f"{x} * {x} = {x*x}")

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

Question (6 - 8)

In [63]:
L = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for i in L:
    print(i)
    
print('__' * 70, '\n')

#from 0 to 100 even only
for i in range(0, 101, 2):
    print(i, end=" ")

print('__' * 70, '\n')

#from 0 to 100 odd only
for i in range(1, 101, 2):
    print(i, end=" ")

Python
Numpy
Pandas
Django
Flask
____________________________________________________________________________________________________________________________________________

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 ____________________________________________________________________________________________________________________________________________

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

EXERCISE LEVEL 2

Question (1)

In [90]:
num = 100
sum = 0

for value in range(1, num + 1):
    sum += value
print('The sum of from 1 to 100 is: ', sum)

The sum of from 1 to 100 is:  5050

Question (2)

In [4]:
#Sum of all Even Numbers  
num = 100
even = 0
odd = 0
for i in range(1, num + 1):
    if ((i % 2) == 0):
    	even += i 
#Sum of all Odd Numbers        
for i in range(1, num + 1):
    if ((i % 2) != 0):
    	odd += i
print('The sum of even from 1 to 100 is:  {}.  And the sum of odd from 1 to 100 is:  {}'.format(even,odd))

The sum of even from 1 to 100 is:  2550.  And the sum of odd from 1 to 100 is:  2500

EXERCISE LEVEL 3

Question (1)

In [2]:
from country_list import countries
for country in countries:
    if 'land' in country:
        print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

Question (2)

In [99]:
fruits = ['Banana', 'Orange', 'Mango', 'Lemon' ]
fruits.reverse()
for fruit in fruits:
    print(fruit)

Lemon
Mango
Orange
Banana

Question 3  (01, 02, 03)

In [4]:
from country_data import countries_data
lst = []

for data in countries_data:
	for lang in data['languages']:
		lst.append(lang)
lst_set = set(lst)
print('The total number of language in the data is: ', len(lst_set), 'languages')


print("English: ",lst.count("English"),"\nFrench: ",lst.count("French"), "\nArabic: ",lst.count("Arabic"),"\nSpanish: ",lst.count("Spanish"), "\nPortuguese: ", lst.count("Portuguese"), "\nRussian: ",lst.count('Russian'),"\nDutch: ",lst.count("Dutch"), "\nGerman: ",lst.count("German"),"\nChinese: ",lst.count("Chinese"),"\nItalian and Swahili: ", lst.count("Italian" and "Swahili"))

print('\n','___' *30,  '\n')

lst1=[]
for data in countries_data:
    population=data["population"]
    country=data["name"]
    if population>125000000:
        lst1.append(country)
        
print("The 10 most populated countries in the world are: \n", lst1)

The total number of language in the data is:  112 languages
English:  91
French:  45
Arabic:  25
Spanish:  24
Portuguese:  9
Russian:  9
Dutch:  8
German:  7
Chinese:  5
Italian and Swahili:  4

 __________________________________________________________________________________________

The 10 most populated countries in the world are:
 ['Bangladesh', 'Brazil', 'China', 'India', 'Indonesia', 'Japan', 'Nigeria', 'Pakistan', 'Russian Federation', 'United States of America']