DAY 13

Questions (1)

Filter only negative and zero in the list using list comprehension

numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [2]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
neg_and_zero = [num for num in numbers 	if num <= 0]
print('Zero and Negative: ', neg_and_zero)

Zero and Negative:  [-4, -3, -2, -1, 0]

Question (2)

Flatten the following list of lists of lists to a one dimensional list :

list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

In [9]:
listOflists = [[[1,2,3]],[[4,5,6]],[[7,8,9]]]

a = [num for row in listOflists for num in row]
b = [num for row in a for num in row]

# levels = number -> list > row -> list_of_lists
c = [num for row in listOflists for list in row for num in list]
print(f'The flattened list b : {b}\n')
print(f'The flattened list c : {c}')

The flattened list b : [1, 2, 3, 4, 5, 6, 7, 8, 9]

The flattened list c : [1, 2, 3, 4, 5, 6, 7, 8, 9]

Question (3)

Using list comprehension create the following list of tuples:

[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]

In [18]:
[(i**1,i**0,i**1,i**2,i**3,i**4,i**5) for i in range(11)]

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

Question (4)

Flatten the following list to a new list

Countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

Output:

[['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [14]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
# Using this to understand
# tpl -> row -> list
flatten = [[tpl[0].upper(),tpl[0][:3].upper(), tpl[1].upper(),] for row in countries for tpl in row]
print(flatten, end=" ")

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]